.row {
    max-width: $grid-width;
    margin: 0 auto;
    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $guter-horizontal;

            @include respone (tab-port) {
                margin-right: 0;
                margin-bottom: $guter-vertical-small;
            }
        }

        @include respone (tab-port) {
            width: 100% !important;
        }
    }
    @include respone (tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }


    //$//*
    &:not(:last-child) {
        margin-bottom: $guter-horizontal;
        @include respone (tab-port) {
            margin-bottom: $guter-vertical-small;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$guter-horizontal})/2);
    }


    .col-1-of-3 {
        width: calc((100% - 2 * #{$guter-horizontal}) /3);
    }

    .col-2-of-3 {
        width: calc((2*((100% - 2 * #{$guter-horizontal}) /3)) + (#{$guter-horizontal}));
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$guter-horizontal}) /4);
    }
}