.btn {
    &:link {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 16px;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}
.btn--white {
    background-color: #fff;
    color: #777;

    &::after {
        background-color: white;
    }
}

.btn--animation {
    animation: moveBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding:3px;
        transition: all 0.2s;
    }
    &:hover{
        background-color:$color-primary;
        color: $color-white;
        box-shadow: 0  1rem 2rem rgba($color-black,.15);
        transform: translateY(-0.2px);
    }
    &:active{
        box-shadow: 0  1rem 2rem rgba($color-black,.15);
        transform: translateY(0);
    }
}